<br><br>
<div class="container" *ngIf="peli">
	<h1>{{ peli.title }}</h1>
	<div class="row">
		<div class="col-md-5">
			<div class="border border-dark" style="padding: 5px;">
				<img src="http://image.tmdb.org/t/p/w600{{ peli.poster_path }}" style="max-width: 100%;">
			</div>
		</div>
		<div class="col-md-7">
			<h2>Sinopsis</h2>
			<hr>
			<p class="text-justify">{{ peli.overview }}</p>
			<br>
			<p>Popilaridad <span class="badge badge-primary">{{ peli.popularity }}</span></p>
			<p>Voto primedio: <span class="badge badge-primary">{{ peli.vote_average }}</span></p>
			<button type="button" class="btn btn-danger" (click)="regresar()">Regresar</button>
		</div>
	</div>
</div>